body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 18px;
  background: #111;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
